<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Safemark.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Safemark.Properties.Settings>
            <setting name="LastOpenedFile" serializeAs="String">
                <value />
            </setting>
            <setting name="MainFormLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainFormTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainFormHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="MainFormWidth" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MainFormWindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColumnHeaderTitleWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ColumnHeaderTagsWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ColumnHeaderUrlWidth" serializeAs="String">
                <value>300</value>
            </setting>
        </Safemark.Properties.Settings>
    </userSettings>
</configuration>